<h3><%= link_to 'Add Recipe', new_recipe_path %></h3>

<table class="table table-striped table-bordered table-hover">

    <% if @recipes.empty? %>
      <p>No recipe here, please add recipe</p>
    <% else %>

      <tbody>

        <% @recipes.each do |recipe| %>

          <div class="table">

            <div class="no_margin row border border-secondary border border-secondary rounded">

              <div class="col-2 ">

                <h4><%= recipe.name %></h3>
                
                <%= link_to "Remove", recipe_path(recipe), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %>
              </div>

              
              <div class="col ">

                  <%= recipe.description %>
              </div>
              

            </div>

          </div>

        <% end %>

      </tbody>

    <% end %>
  </table>